{% extends "tutorials/base.html" %}
{% block page_header %}

    <div class="container">
      <div style="width:55%; float:left;height:calc(100% - 20px);">
        <!-- <h1 class="jumbotron-heading">CentOS 7 Server Install</h1> -->
        <h2>Create AWS RHEL 8 EC2 Instance</h2>
        <p class="lead text-muted">Cloud Tutorials</p>
      </div>
      <div style="width:45%; float: left;padding-left: 40px; padding-top: 20px;height:calc(100% - 20px);">
        <p>Download <a style="text-decoration: underline;" href="{{ tutorial.file.url }}" download>{{ tutorial.text }}</a> tutorial.</p>
      </div>
      
    </div>

{% endblock page_header %}
{% block content %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="container">
    
    <div style="width:55%; float:left;height:calc(100% - 20px);">
      <p>In this tutorial, we will be creating an <a style="text-decoration: underline;font-weight: bold;" href="https://aws.amazon.com/pm/ec2/?did=ft_card&trk=ft_card" target="_blank">AWS Elastic Compute (EC2)</a> instance with RHEL 8 as the operating system.</p>
      <h4>Prerequisites</h4>
        <ul>
          <li>an AWS Free Tier account</li>
          <li>internet access</li>
        </ul>
      <p>If you do not have an AWS account, you can access my<br /> 
        <strong>AWS Create Free Tier Account</strong> tutorial <a style="text-decoration: underline;font-weight: bold;" href="{% url 'topic_tutorial' 1 1 'en' %}" target="_blank">here</a></p>
    </div>
    
    <div style="width:45%; float: left;padding-left: 40px;height:calc(100% - 20px);">
      <img style="width: 250px; height: 150px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_cloud5.png" />
      
    </div>
    <div style="clear: both;">
  
    </div>
    <div style="width:55%; float:left;height:calc(100% - 20px);"> 
      <h5>Steps to complete tutorial:</h5>
      <ul>       
        <li><a href="#aws_login">AWS Login</a></li>
        <li><a href="#update_vpc">Update Virtual Private Cloud (VPC)</a></li>
        <li><a href="#create_ec2">Create RHEL 8 EC2 Instance</a></li>
        <li><a href="#connect_ec2">Connect to RHEL 8 instance</a></li>
        <li><a href="#register_ec2">Register with Red Hat Customer Portal</a></li>
      </ul>
    </div>
    <div style="width:45%; float: left; height:calc(100% - 20px);">
      <img style="width: 250px; height: 150px" src="/media/images/tutorials/cloud/create_rh8_vm/rhel8.jpg" />
      <br />
      <br />
    </div>
    <div style="clear: both;">
      <h5 id="aws_login">AWS Login</h5>
        <p>To begin, go to the following website,<a style="text-decoration: underline;font-weight: bold;" href="https://aws.amazon.com/console/" target="_blank">https://aws.amazon.com/console/</a> and log in to the console.</p> 
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_1.png" />
        <br />
        <br />  
        <p>Enter the Root user's email address that you specified during registration. Click <strong>Next</strong>.</p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_2.png" />
        <br />
        <br />
        <p>Next is the security check. Enter the characters and click <strong>Submit</strong></p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_3.png" />
        <br />
        <br />  
        <p>Finally, enter the Root user's password and click <strong>Sign in</strong>.</p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_4.png" />
        <br />
        <br />  
        <p>You will now be brought to AWS Console Home.</p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_5.png" />
        <br />
        <br /> 
        <p>If you've already completed my 
          <a style="text-decoration: underline;font-weight: bold;" href="{% url 'topic_tutorial' 1 2 'en' %}" target="_blank">AWS Create Ubuntu 20 Elastic Compute Instance</a>       
          tutorial, you can skip this step and go directly to <a style="text-decoration: underline;font-weight: bold;" href="#create_ec2">Create RHEL 8 EC2 Instance</a></p>  

        <p>Before we create the EC2 instance, we will configure our default <a style="text-decoration: underline;font-weight: bold;" href="https://aws.amazon.com/vpc/" target="_blank">VPC (Virtual Private Cloud)</a> 
          so that it will be easier to work with moving forward. The VPC will allow us to launch resources in an isolated virtual network.</p>
      <h5 id="update_vpc">Update Virtual Private Cloud (VPC)</h5>
        <p>Once logged in, enter VPC in the search bar and select <strong>VPC</strong> Isolated Cloud Resources.</p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_6-VPC_search.png" />
        <br />
        <br />  
        <p>On the VPC Dashboard, select <strong>VPCs</strong></p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_7-VPC_dashboard.png" />
        <br />
        <br />
        <img style="width: 900px; height: 250px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_8b-VPC_listing.png" />
        <br />
        <br />  
        <p>Let's set the name to <strong>vpc_default</strong> and click <strong>save</strong></p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_9-VPC_set_name.png" />
        <br />
        <br />  
        <p>Now, on the left hand side of the screen click <strong>Subnets</strong></p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_10-VPC_select_subnets.png" />
        <br />
        <br />  
        <p>Once the subnet list page appears, notice that 6 subnets have already been created for us.</p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_11-VPC_subnet_listing.png" />
        <br />
        <br />  
        <p>Set the name of the first subnet to <strong>subnet_default</strong> and click <strong>save</strong> Also note that the CIDR IPv4 subnet is 172.31.0.0/20.</p>
        <img style="width: 900px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_12-VPC_set_subnet_name.png" />
        <br />
        <br />  
        <img style="width: 900px; height: 450px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_13-VPC_set_subnet_name2.png" />
        <br />
        <br /> 
      <h5 id="create_ec2">Create RHEL 8 EC2 Instance</h5>
        <p>Now we can proceed to create our instance, enter <strong>EC2</strong> in the search bar and select the 1st EC2 listing.</p>
        <img style="width: 900px; height: 450px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_14-EC2_search.png" />
        <br />
        <br />  
        <p>You will be brought to the <strong>EC2</strong> Dashboard. It contains links to the resources being used in the selected AWS region. In my case it's US East (N. Virginia).</p>
        <p>From the EC2 dashboard, click <strong>Instances</strong> (all links will work, your choice).</p>
          
        <img style="width: 900px; height: 450px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_15-EC2_dashboard.png" />
        <br />
        <br />
        <p>Next, click <strong>Launch Instances</strong> (either link will work, your choice).</p>
        <img style="width: 900px; height: 250px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_16-EC2_launch_1_no_vms.png" />
        <br />
        <br />  
        <p>The first step will be to select the image we want to use.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_17-EC2_step1_choose_image.png" />
        <br />
        <br />  
        <p>Scroll down the page until you locate <strong>Red Hat Enterprise Linux 8</strong> and click the <strong>Select</strong> button next to the listing.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_18-EC2_step1_choose_image2.png" />
        <br />
        <br />
        <p>In the second step, we choose the instance type. Since we want a free instance, select <strong>t2.micro</strong> and <br />click <strong>Next: Configure Instance Details</strong>.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_19-EC2_step2_choose_instance_type.png" />
        <br />
        <br />  
        <p>The third step allows us to select the VPC (<strong>vpc_default</strong>) and subnet (<strong>subnet_default</strong>) that we named earlier. After making those changes, click <strong>Next: Add Storage</strong>.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_20-EC2_step3_instance_details.png" />
        <br />
        <br />  
        <p>The fourth step allows us to set the storage size and add volumes if we wish. The root volume of 10GB is enough for RHEL 8. In a future tutorial, 
          I will be demonstrating disk partitioning, as well as, LVM management, so I will also add 3 additional volumes.
          Click <strong>Add New Volume</strong>.</p>
        <img style="width: 950px; height: 350px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_21-EC2_step4_add_storage.png" />
        <br />
        <br />  
        <p>After clicking the <strong>Add New Volume</strong> button, I set the size to 1GB and checked <strong>Delete on Termination</strong>.</p>
        <img style="width: 950px; height: 450px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_21-EC2_step4_add_storage2.png" />
        <br />
        <br />  
        <p>I repeated these steps 3 times total. After setting the storage, click <strong>Next: Add Tags</strong>.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_21-EC2_step4_add_storage3.png" />
        <br />
        <br />  
        <p><strong><i>***Note: There is a 30GB max volume size for all your instances combined throughout the month. If you go over it, 
          you will pay the cost.</i></strong></p>
        
        <p>The fifth step allows us to tag our instance. Tagging helps categorize our resources. We will keep it simple by adding a name tag.
           To do this click the <strong>click to add a Name tag</strong> link and set the name to whatever you desire. </p>        
        <img style="width: 950px; height: 350px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_22-EC2_step5_add_tags.png" />
        <br />
        <br />
        <p>Once finished, click <strong>Next: Configure Security Group</strong>.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_23-EC2_step5_add_tags2.png" />
        <br />
        <br />  
        <p>In the sixth step, before launching, we will create a security group named <strong>security-group2</strong>. 
          Note that only port 22 is open and that we are only allowing SSH connections to our instance. I also provided a 
          small description, <strong>Limit access to instance</strong>.<br />
          After you've set the security group details, click <strong>Review and Launch</strong>.</p>

        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_24-EC2_step6_security_group.png" />
        <br />
        <br />  
        <p>This final step allows you to review your selections. After you've finished reviewing, click <strong>Launch</strong>.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_25-EC2_step7_review_and_launch.png" />
        <br />
        <br />        
        <p>Prior to launch, we must create a key pair that can be used with an SSH connection to access our newly created instance.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_26-EC2_step7_create_keypair.png" />
        <br />
        <br />  
        <p>Ensure <strong>Create a new key pair</strong> is selected. Also, ensure that <strong>Key pair type</strong> is set to <strong>RSA</strong>. 
          Then, give it a name (<strong>aws_connect_keypair</strong>). Finally, click <strong>Download Key Pair</strong> and save it somewhere on your PC. </p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_26-EC2_step7_create_keypair2.png" />
        <br />
        <br />
        <p>After you download the key pair (<strong>aws_connect_keypair.pem</strong>), you will be able to click <strong>Launch Instances</strong> to bring 
          up RHEL 8.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_27-EC2_step7_launch_instance.png" />
        <br />
        <br />
        <p>As you can see, it can take up to a minute, or two, for the instance to be brought up.</p>
        <img style="width: 950px; height: 550px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_28-EC2_step7_launch_instance2.png" />
        <br />
        <br />
        <p>Now, you can click on <strong>Services</strong> at the top left of the screen and then select <strong>EC2</strong> under <strong>Recently visited</strong>. 
          Or, you can enter <strong>EC2</strong> in the search bar to access your running instance (both methods work).</p>
          <table>
            <tr>
              <td><img style="width: 450px; height: 400px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_29-EC2_search2B.png" /></td>
              <td></td>
              <td><img style="width: 450px; height: 400px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_29-EC2_searchB.png" /></td>
            </tr>
          </table>
        <br />
        <br />
        <p>Ensure your new instance is selected (<strong>rh8_vm</strong>), then on the <strong>Details</strong> tab, note the value for 
          <strong>Public IPv4 DNS</strong>. I usually keep the instance's name, public IP, private IP and public IPv4 DNS stored 
          for easy access. We will need this to connect to the instance.</p>
        <img style="width: 950px; height: 650px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_30-EC2_instance_info.png" />
        <br />
        <br />
        
      <h5 id="connect_ec2">Connect to RHEL 8 instance</h5>
      
        <p>Now you will need an SSH client to connect to your instance. I am on Windows 10 and have installed <a style="text-decoration: underline;font-weight: bold;" href="https://git-scm.com/downloads" target="_blank">GitBash</a> which 
          includes an SSH client. If you do not want to install <strong>GitBash</strong>, I also use <a style="text-decoration: underline;font-weight: bold;" href="https://mobaxterm.mobatek.net/download-home-edition.html" target="_blank">MobaXterm Portable</a>. 
          It's a great tool and easy to use.</p>
          
          <p>Using <strong>MobaXterm</strong>, I would first create a session by clicking the <strong>Session</strong> button in the top left corner:</p>
        <img style="width: 950px; height: 650px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_30-EC2_SSH_MobaXterm_1.png" />
        <br />
        <br />   
        <p>Followed by clicking the <strong>SSH</strong> button.</p>
        <img style="width: 950px; height: 650px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_30-EC2_SSH_MobaXterm_2.png" />
        <br />
        <br />   
        <p>For <strong>Remote host:</strong>, enter your <strong>Public IPv4 DNS</strong> from your instance's <strong>Details</strong> tab. 
          Also specify the username of <strong>ec2-user</strong>. <br />That is the default username for every RHEL instance created on AWS.</p>
        <p>Then, under <strong>Advanced SSH Settings</strong> select the key that you downloaded earlier (<strong>aws_connect_keypair.pem</strong>). 
          Finally, click <strong>OK</strong>.
         </p>
        <img style="width: 950px; height: 650px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_30-EC2_SSH_MobaXterm_3.png" />
        <br />
        <br />   
        <p>Your session should open to your newly created EC2 instance running RHEL 8.</p>
        <img style="width: 950px; height: 350px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_30-EC2_SSH_MobaXterm_4.png" />
        <br />
        <br />   
        <p>If you installed <a style="text-decoration: underline;font-weight: bold;" href="https://git-scm.com/downloads" target="_blank">GitBash</a>, you can open either PowerShell or a Windows command prompt.<br />
          Then, from the command line, enter the following (<strong>NOTE:</strong> make sure you enter <strong>your</strong> connection details):<br />
          <span class="code">
            <span style="color: red;font-weight: bold;">
              ssh -i /path/my-key-pair.pem my-instance-user-name@my-instance-public-dns-name
            </span><br />
            ssh -i C:\Users\pc\.ssh\aws_connect_keypair.pem ec2-user@ec2-3-231-211-145.compute-1.amazonaws.com
          </span>
          </p>
          <img style="width: 950px; height: 350px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_30-EC2_SSH_PowerShell_new.png" />
        <br />
        <br /> 
        
      <h5 id="register_ec2">Register with Red Hat Customer Portal</h5>    
        <p><a href="https://www.redhat.com/en/about/subscription-model-faq"><strong>Red Hat subscription</strong></a>
           is a software support model followed by Red Hat for its 
          customers. It allows customers to download software packages, patches, updates, 
          and upgrades for Redhat Enterprise Linux. Along with software support, customers 
          will also get technical support for the product.</p>
        <p>After you install Redhat Enterprise Linux 8, you need to register and enable a 
          Red Hat subscription to be able to install any packages on the system. To register 
          for a Red Hat subscription, first, go to the <a href="https://access.redhat.com/"><strong>Red Hat Customer Portal</strong></a> to create an 
          account. Account credentials are required to enable a Red Hat subscription for your
           AWS RHEL 8 EC2 instance. </p>
        <p>Once you have your account credentials, we will use the <strong>subscription-manager</strong> 
          command to register the RHEL 8 system. When prompted enter the username and 
          password you used while signing up with Red Hat.<br />
          <span class="code">
            $ sudo subscription-manager register
          </span>
        </p>
        <img style="width: 950px; height: 200px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_31-RHEL_register_2.png" />
        <br />
        <br />   
        <p>Now, we can attach the subscription to our RHEL 8 system.<br /> 
          <span class="code">
          $ sudo subscription-manager attach --auto
          </span>
        </p>
        <img style="width: 950px; height: 200px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_31-RHEL_register_3.png" />
        <br />
        <br />
        <p>We will now list subscription and product information for this system.<br /> 
          <span class="code">  
          $ sudo subscription-manager list 
          </span>
        </p>
        <img style="width: 950px; height: 250px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_31-RHEL_register_4.png" />
        <br />
        <br />
        <p>Finally, we will list the available package repositories to confirm that we can install packages on the system.<br /> 
          <span class="code">    
          $ sudo yum repolist 
          </span>
        </p>
        <img style="width: 950px; height: 200px" src="/media/images/tutorials/cloud/create_rh8_vm/aws_create_rh8_instance_31-RHEL_register_5.png" />
        <br />
        <br />
    </div>
    <div>
      <p>Hopefully, you’ve enjoyed completing this tutorial and found it helpful.</p>
      
      <p>Please note that the free tier allows for 750 hours per month of Amazon EC2. You can create many EC2 instances <br />
        but beware of the limit. If you go over that limit, you will pay the cost. My advice to you is to shutdown your instance/s<br />
         after you've done your work.</p>
      <p>I have another tutorial where I demonstrate the creation of an <strong>Ubuntu 20</strong> EC2 (Elastic Compute Cloud) instance.</p>
      
      <p>If you're interested in a <strong>deb</strong> based <strong>Ubuntu 20</strong> EC2 instance installation, 
        you can access the tutorial <a style="text-decoration: underline;font-weight: bold;" href="{% url 'topic_tutorial' 1 2 'en' %}" target="_blank">here</a>.</p>

      <p>Finally, if need be, you can download this tutorial <a style="text-decoration: underline;font-weight: bold;" href="{{ tutorial.file.url }}" download>{{ tutorial.text }}</a>.</p>
      
    </div>
  </div>

{% endblock content %}