{% extends "tutorials/base.html" %}
{% block page_header %}

    <div class="container">
      <div style="width:55%; float:left;height:calc(100% - 20px);">
        <!-- <h1 class="jumbotron-heading">CentOS 7 Server Install</h1> -->
        <h2>CentOS 7 Server Install</h2>
        <p class="lead text-muted">Infrastructure Tutorials</p>
      </div>
      <div style="width:45%; float: left;padding-left: 40px; padding-top: 20px;height:calc(100% - 20px);">
        <p>Download <a style="text-decoration: underline;" href="{{ tutorial.file.url }}" download>{{ tutorial.text }}</a> tutorial.</p>
      </div>
      
    </div>

{% endblock page_header %}
{% block content %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="container">
    
    <div style="width:55%; float:left;height:calc(100% - 20px);">
      <p>In this tutorial, I will be demonstrating a CentOS 7 (release 8) install using VirtualBox 6.1.2 on a Windows 7 Pro SP1 host machine. Please note that I will be using a CentOS 7 (release 8) minimal ISO image to perform a server install of CentOS 7. This means no GUI will be available post install.</p>
      <p>I have another tutorial demonstrating the installation of the MATE desktop environment, accessible <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 6 'en' %}" target="_blank">here</a>.</p>
      <p>Refer to the prerequisites listed below to access the download locations of the resources needed to complete this tutorial.
      </p>
    </div>
    
    <div style="width:45%; float: left;padding-left: 40px;height:calc(100% - 20px);">
      <img style="width: 320px; height: 240px" src="/media/images/tutorials/infrastructure/minimal_bootable_usb/00-Centos7-Icon.png" />
      <br />
      <br />
    </div>
    <div style="clear: both;">
      <h4>Prerequisites</h4>
        
        <ul>
          <li>VirtualBox 6.1.2 & VirtualBox 6.1.2 Extension Pack</li>
          <li>CentOS 7 (release 8) minimal ISO image can be downloaded <a style="text-decoration: underline;" href="http://centos.mirror.iweb.ca/7.8.2003/isos/x86_64/CentOS-7-x86_64-Minimal-2003.iso">here</a></li>
          <li>Active Internet Connection</li>
        </ul>
      <p>For instructions on how to install VirtualBox and extension pack, see my <strong>VirtualBox Install</strong> tutorial <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 3 'en' %}" target="_blank">here</a>.</p>
    </div>
    <div style="width:55%; float:left;height:calc(100% - 20px);"> 
      <h5>Steps to complete tutorial:</h5>
      <ol>
        <li><a href="#install_vbox">Install VirtualBox 6.1.2</a></li>
        <li><a href="#download_centos7">Download CentOS 7</a></li>
        <li><a href="#create_vm">Create virtual machine</a></li>
        <ol type="i">
          <li><a href="#name_and_os">Name and OS</a></li>
          <li><a href="#memory_size">Memory Size</a></li>
          <li><a href="#create_hdd">Create Hard Disk</a></li>
          <li><a href="#attach_disk">Attach CentOS 7 ISO Image to VM</a></li>
        </ol>
        <li><a href="#install_centos7">Install CentOS 7</a></li>
        <li><a href="#take_snapshot_1">Take Snapshot</a></li>
      </ol>
    </div>
    <div style="width:45%; float: left;padding-left: 40px;height:calc(100% - 20px);">
      <img style="width: 320px; height: 240px" src="/media/images/tutorials/infrastructure/minimal_bootable_usb/0-VirtualBox-Image.png" />
      <br />
      <br />
    </div>
    
    <div style="clear: both;">
      <h5 id="install_vbox">Install VirtualBox 6.1.2</h5>
        <p>If you already have VirtualBox 6.1.2 installed, go to the next step. Otherwise, please see one of my other tutorials, <br />
        <strong>VirtualBox Install</strong>, accessible <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 3 'en' %}" target="_blank">here</a>, where I demonstrate the installation of VirtualBox 6.1.2, as well as, the same version extension pack.</p>
        
      <h5 id="download_centos7">Download CentOS 7</h5>
        <p>Go to the CentOS site at <a style="text-decoration: underline;" href="https://wiki.centos.org/Download">https://wiki.centos.org/Download</a>, and click the 
        <strong>mirrors</strong> link for CentOS 7 (release 8) to display a list of mirrors closest to your region.</p>
        <img style="width: 700px; height: 450px" src="/media/images/tutorials/infrastructure/downloads/00-Centos-Download.png" />
        <br />
        <br />
        <p>Select one of the available mirrors closest to you. I usually select the first one in the list.</p>
        <img style="width: 700px; height: 300px" src="/media/images/tutorials/infrastructure/downloads/01-Centos-Download-7-mirrors.png" />
        <br />
        <br />
        <p>Once you are on the selected mirror site, select the <strong>
        CentOS 7 minimal ISO image</strong> to download.<br />
        <em>Note, if you select the torrent download, you will need to have BitTorrent, or another, peer-to-peer file sharing application to download the file.</em></p>
        <img style="width: 700px; height: 300px" src="/media/images/tutorials/infrastructure/downloads/02-Centos-Download-7-mirror-images.png" />
        <br />
        <br />
        <p>Once you click the link, the <strong>CentOS 7 minimal ISO image</strong> will be downloaded to your local Downloads directory. I have moved my downloads to a location where they can be easily accessible. Note, I have downloaded three versions: DVD, Minimal and NetInstall. Their sizes differ because they contain different contents. Below, I’ve listed the main differences:
          <ul>
            <li><strong>DVD</strong> – full install including GUI desktop environment</li>
            <li><strong>Minimal</strong> – usually for server installations that require manual configurations</li>
            <li><strong>NetInstall</strong> – boot DVD for installing from a network server</li>
          </ul>
        <p>Note, to avoid wasting local disk space, I did not download the <strong>Everything</strong> ISO image. As it’s name states, it contains the complete set of packages for CentOS 7.</p>
        <img style="width: 700px; height: 250px" src="/media/images/tutorials/infrastructure/downloads/02-Centos-Download-7-downloaded-images.png" />
        <br />
        <br />
      <h5 id="create_vm">Create virtual machine</h5>
        <p>Now that we have our CentOS 7 minimal ISO image, we will create a virtual machine to be used for the CentOS 7 install.</p>
        <p><em>Please note that if you have just installed VirtualBox 6.1.2, you will only see <strong>Tools</strong> on the left-hand side of the VirtualBox Manager interface. I have already created a number of VMs (virtual machines) and grouped them for organizational purposes.</em></p>
        <p>On the VirtualBox Manager interface, click the <strong>New</strong> button to start the creation of a new virtual machine.
        </p>  
        <img style="width: 700px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/0-VBox-Manager-Create-VM-1-option-NEW.png" />
        <br />
        <br />
      <h5 id="name_and_os">Name and OS</h5>
        <p>The <strong>Create Virtual Machine</strong> screen appears.
          <ul> 
            <li>Give your VM a name (I named my VM: <strong>centos7-VM</strong>)</li>
            <li>Choose where you want the machine created on your host system</li>
            <li style="list-style: none">
            <em>Please note, you can change the destination folder (<strong>Machine Folder:</strong>), if the default does not work for you.<br /> This will be where the virtual machine files are stored on your host system.</em></li>
            <li>Ensure Type is set to <strong>Linux</strong> and Version is set to <strong>Red Hat (64 bit)</strong>, click <strong>Next</strong></li>
          </ul>
        </p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/1-Create-VM-Name-and-OS.png" />
        <br />
        <br />
        
      <h5 id="memory_size">Memory Size</h5>
        <p>The next screen asks for the amount of memory (<strong>RAM</strong>) you wish to allocate to this machine.<br />
        Since we are performing a minimal server install, 1024MB (1GB) of RAM is sufficient. Click <strong>Next</strong></p>

        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/2-Create-VM-Memory-Size.png" />
        <br />
        <br />
              
      <h5 id="create_hdd">Create Hard Disk</h5>
        <p>Now we must create a virtual hard disk where the CentOS 7 operating system will be installed.<br />
        <strong>Note</strong> the recommended size (8 GB) of a virtual hard disk for CentOS 7. Click <strong>Create</strong>
        </p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/3-Create-VM-HDD-1.png" />
        <br />
        <br /> 
        <p>Now, you will have to choose the type of virtual hard disk. Select <strong>VDI</strong> and click <strong>Next</strong>
          
          <table style="margin-left: 50px;">
            <tr>
              <td align="right"><strong>VDI</strong>: </td>
              <td>Oracle VirtualBox container format for guest hard disks</td>
            </tr>
            <tr>
              <td align="right"><strong>VHD</strong>: </td>
              <td>Microsoft container format</td>
            </tr>
            <tr>
              <td align="right"><strong>VMDK</strong>: </td>
              <td>VMWare container format</td>
            </tr>
          </table>
        </p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/3-Create-VM-HDD-2.png" />
        <br />
        <br />
        <p>We can now choose whether the virtual hard disk takes up the size we allocate as needed (Dynamically allocated) or immediately (Fixed). To save space on my host system, I will be choosing <strong>Dynamically allocated</strong> and clicking <strong>Next</strong></p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/3-Create-VM-HDD-3.png" />
        <br />
        <br />
        <p>Here we can set the virtual hard disk size. <strong>Note</strong> it’s name and storage location. 
          <br />Again, since we’re performing a minimal install, 8.00GB is enough. Click <strong>Create</strong></p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/3-Create-VM-HDD-4.png" />
        <br />
        <br /> 
      
        <p>As you can see below, the <strong>centos7-VM</strong> virtual machine was successfully created.<br />
        <em>Again, please note that, as I mentioned earlier, our VirtualBox Manager interfaces (left side listing VMs) will not be identical because I already have a number of grouped virtual machines.</em>
        </p>
        <img style="width: 600px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/4-Created-VM-1-NEW.png" />
        <br />
        <br />
        <p>After creating my virtual machine I was brought to the VirtualBox Manager interface's <strong>Snapshots</strong> view. If you are already in the <strong>Details</strong> view, you can just read on to see how to switch views.</p>
        <p>To switch to <strong>Details</strong> view, click the list icon next to the virtual machine name, and select <strong>Details</strong>.</p>
        <p>The <strong>Details</strong> view will provide you with a listing of all the configurable components of the VM.</p>
        <img style="width: 600px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/4-Created-VM-2-Details-NEW.png" />
        <br />
        <br />
              
      <h5 id="attach_disk">Attach CentOS 7 ISO Image to VM</h5>
        <p>Now we will configure the VM’s optical drive with the CentOS 7 minimal ISO image we downloaded earlier.<br />
        On the VirtualBox Manager interface, ensure your newly created VM is selected and click the <strong>Settings</strong> button.</p>
        <img style="width: 600px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/5-Created-VM-3-Settings-NEW.png" />
        <br />
        <br />
        <p>In the VM Settings dialog box, on the left, select <strong>Storage</strong>. You’ll notice that the virtual optical drive is <strong>Empty</strong>.<br />
        Ensure the <strong>Empty</strong> optical drive is selected. Then, on the right, ensure <strong>IDE Primary Master</strong> is selected. Then, click the optical drive icon and click <strong>Choose a disk file</strong> to select the Centos 7 minimal ISO image that was downloaded as a prerequisite for this tutorial.<br />
        Please note that if you do not set the VM’s optical drive to 
        <strong>IDE Primary Master</strong>, and you leave the default of
        <br />
        <strong>IDE Secondary Master</strong>, when you start the VM you will be prompted to attach a disk file to begin the installation.
        </p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/6-Settings-Change-Storage-1-Choose-Disk-Image-Primary.png" />
        <br />
        <br />
        <p>Browse to where you’ve downloaded the CentOS 7 minimal ISO image, and click <strong>Open</strong></p>
        <img style="width: 600px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/6-Settings-Change-Storage-2-Choose-Disk-Image-2-Primary.png" />
        <br />
        <br />
        <p>By attaching the CentOS 7 minimal ISO image to the virtual machine’s optical drive, our installation media is set and we are now ready to start our new VM (virtual machine) and begin the installation of CentOS 7.</p>
        <img style="width: 650px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/6-Settings-Change-Storage-3-Done-Primary.png" />
        <br />
        <br />
      <h5 id="install_centos7">Install CentOS 7</h5>
        <p>On the VirtualBox Manager Interface, ensure your new VM is selected and click <strong>Start</strong></p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/7-Start-VM-NEW.png" />
        <br />
        <br />
        <p><strong><u>Friendly Reminder</u></strong>:<br />
        During installation, if at any time you need to exit the 
          <strong>guest</strong> (virtual machine) interface and return to the <strong>host</strong> machine interface, hit your <strong>Host key</strong> (for Windows 7, it’s the <strong>right Ctrl key</strong>). Check the bottom right-hand corner of the virtual machine's interface (see image below)</p>
        <img style="width: 600px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/9-Install-CentOS-0.png" />
        <br />
        <br />
        <p>Even if you’ve set your VM’s optical drive to <strong>IDE Primary Master</strong>, you might still be prompted with the 
          <strong>Select start-up disk</strong> screen on start-up. If you are, just click <strong>Cancel</strong> to continue.</p>
        <img style="width: 600px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/8-Start-VM-Select-Startup-Disk-NEW.png" />
        <br />
        <br />
        <p>Next, navigate up to <strong>Install Cent0S 7</strong> and, on your physical keyboard, hit the <strong>Enter</strong> key to begin the installation.</p>
        <img style="width: 600px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/9-Install-CentOS-1.png" />
        <br />
        <br />
        <p>Select your desired language and click <strong>Continue</strong></p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/10-Install-CentOS-Select-Language.png" />
        <br />
        <br />
        <p>On the Installation Summary page, we need to configure a few settings before we can begin the installation.</p>
        <img style="width: 600px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-1-part.png" />
        <br />
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-2-part.png" />
        <br />
        <br />
       <strong>Localization</strong>:
        <ul>
          <li>timezone, keyboard and language</li>
        </ul>
       <strong>Software</strong>:
        <ul>
          <li>Installation source and software selection</li>
        </ul>
       <strong>System</strong>: 
          <ul>
            <li><span style="color: red;font-weight: bold;">Installation destination (includes partitioning)</span></li>
            <li><span style="color: red;font-weight: bold;">Network & Host name</span></li>
            <li>KDump & Security Policy</li>
          </ul>
    
        <p>Please note that before we begin making the required pre-installation configuration changes, I will be referring to the items listed on the <strong>Installation Summary</strong> page (see items above OR image below). Also, if the correct item value is already set, you do not need to change it.</p>
        <p>According to my <strong>Installation Summary</strong> page, only two items need to be configured. Under the <strong>System</strong> section, they are <span style="color: red;font-weight: bold;">Installation Destination</span> and <span style="color: red;font-weight: bold;">Network & Host Name</span>.</p>
        <p>If your <strong>Installation Summary</strong> page is the <strong>same</strong> as mine, please skip to the <a style="text-decoration: underline;" href="#system_config">System</a> section.</p>
        <p>If your <strong>Installation Summary</strong> page is <strong>different</strong> than mine, links to each section are available here: <br />
        <a style="text-decoration: underline;" href="#localization_config">Localization</a>, <a style="text-decoration: underline;" href="#software_config">Software</a> and 
        <a style="text-decoration: underline;" href="#system_config">System</a>
        </p>
        
        <img style="width: 600px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-1-part.png" />
        <br />
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-2-part.png" />
        <br />
        <br />
        <p>To be thorough, we will go through each configuration screen for every item that is listed on the <strong>Installation Summary</strong> page. That way you will become familiar with a CentOS 7 installation.</p>
      <h5 id="localization_config">Localization</h5>
        <p>To set your timezone, from the <strong>Installation Summary</strong> page, click <strong>Date & Time</strong>.
        </p>
        <img style="width: 600px; height: 250px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-Localization-2-datetime.png" />
        <br />
        <br />
        <p>Make your change, if needed, and click <strong>Done</strong>.</p>
        <img style="width: 600px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/16-Set-timezone.png" />
        <br />
        <br />
        <p>To set your keyboard, from the <strong>Installation Summary</strong> page, click <strong>Keyboard</strong>.</p>
        <img style="width: 600px; height: 250px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-Localization-3-keyboard.png" />
        <br />
        <br />
        <p>Make your change, if needed, and click <strong>Done</strong>.</p>
        <img style="width: 600px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/17-Set-keyboard.png" />
        <br />
        <br />
        <p>To set your language, or to add language support, from the 
          <strong>Installation Summary</strong> page, click <strong>Language Support</strong></p>
        <img style="width: 600px; height: 250px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-Localization-4-languages.png" />
        <br />
        <br />
        <p>If needed, set your language and add support for other languages and click <strong>Done</strong>.</p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/18-Set-language.png" />
        <br />
        <br />
      <h5 id="software_config">Software</h5>

        <p>Next, from the <strong>Installation Summary</strong> page, under <strong>Software</strong>, click <strong>Installation Source</strong>.
        </p>
        <img style="width: 600px; height: 250px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-Software-2-install_source.png" />
        <br />
        <br />
        <p>If needed, make your changes and click <strong>Done</strong>.
        <br />
          <em>In my case, the <strong>Installation Source</strong> was auto-detected as local media (CentOS 7 ISO image attached to VM)</em>.</p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/19-Set-instalation-source.png" />
        <br />
        <br />
        <p>Since we are using a CentOS 7 minimal ISO image, the <strong>Software Selection</strong> is set to <strong>Minimal Install</strong>.<br />
        But, again, to be thorough, from the <strong>Installation Summary</strong> page, under <strong>Software</strong>, click <strong>Software Selection</strong></p>
        <img style="width: 600px; height: 250px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-Software-3-software_selection.png" />
        <br />
        <br />
        <p>Only the packages for a CentOS 7 Minimal Install are included in the minimal ISO image we are using.<br />
        To continue, click <strong>Done</strong>.</p>
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/20-Software-selection-minimal-part.png" />
        <br />
        <br />
      <h5 id="system_config">System</h5>

        <p>Please note that the following CentOS 7 pre-installation configuration is <strong>required</strong>.<br />
        From the <strong>Installation Summary</strong> page, under <strong>System</strong>, click <strong>Installation Destination</strong>.</p>
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-System-2-install_dest.png" />
        <br />
        <br />
        <p>Ensure the virtual hard disk we added while creating the virtual machine has been detected and that<br /> <strong>Automatically configure partitioning</strong> is selected. When finished, click <strong>Done</strong>.</p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/21-Set-installation-destination-default.png" />
        <br />
        <br />
        <p><em>For this tutorial, we will not be manually creating our partitions. This will be done automatically for us.<br />
        The <strong>/boot</strong>,  <strong>/</strong> (root) and <strong>swap</strong> partitions will be created. The / (root) and swap partitions will reside in separate <br /><strong>LVM</strong> logical volumes using the <strong>xfs</strong> file system, while, the /boot partition will also use the <strong>xfs</strong> file system <br />but will be on a standard partition.</em><br /><br />
          Please note that the following CentOS 7 pre-installation configuration is <strong>required</strong>.<br />
        From the <strong>Installation Summary</strong> page, under <strong>System</strong>, click <strong>Network & Host Name</strong>  
        </p>
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-System-3-Network.png" />
        <br />
        <br />
        <p>We will have to configure our IP address information and hostname. First, ensure the network adapter is selected and enable it by changing the toggle switch, on the right, from OFF to <strong>ON</strong>. This will ensure that our VM receives an IP address, subnet mask and default gateway from VirtualBox’s DHCP service (usually 10.0.2.15 /24).<br /> 
        Second, enter the host name. To keep it simple, I entered <strong>centos7-VM</strong> and clicked <strong>Apply</strong>. Finally,  click <strong>Done</strong>.</p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/22-Set-network-hostname-minimal.png" />
        <br />
        <br />
        <p>For this tutorial, we will leave <strong>KDump</strong> enabled.
          To be thorough, let’s open the configuration screen. <br />
          From the <strong>Installation Summary</strong> page, under <strong>System</strong>, click <strong>KDump</strong><br /><br />
        <em><strong>KDump</strong> captures information during a kernel crash and the information can be used to determine the cause.
        </em><br />
        </p>
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-System-4-KDump.png" />
        <br />
        <br />
        <p>When you are done, click <strong>Done</strong></p>
        <img style="width: 700px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/22-Set-KDump.png" />
        <br />
        <br />
        <p>We will not be setting a <strong>Security Policy</strong>. Again, to be thorough, let’s open the configuration screen.<br />
         From the <strong>Installation Summary</strong> page, under 
         <strong>System</strong>, click <strong>Security Policy</strong>
         <br /><br />
        <em>When no security policy is set, the <strong>sshd</strong> and
         <strong>firewalld</strong> services are active, and running. Remote access using <strong>ssh</strong> is allowed through the firewall.</em><br />
         </p> 
        </p>
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/11-Installation-Summary-System-5-Security_Policy.png" />
        <br />
        <br /> 
        <p>When you are done, click <strong>Done</strong></p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/22-Set-Security_Policy.png" />
        <br />
        <br />
        <p>We are now ready to begin the installation of CentOS 7. Click 
        <strong>Begin Installation</strong></p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/23-Begin-installation.png" />
        <br />
        <br />
        <p>The installation has begun. We will need to set the root user’s password, as well as, create a non-root user.</p>  
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/24-Begin-installion-begun.png" />
        <br />
        <br />
        <p>First, to set the root user’s password, click <strong>Root Password</strong></p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/24-Begin-installion-begun-root.png" />
        <br />
        <br />
        <p>Enter the root user’s password and click <strong>Done</strong>. Notice the warning message at the bottom of the screen.<br /> This is because I used a weak password. To bypass this warning, all we have to do is click <strong>Done</strong>, twice.</p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/25-Set-root-password-minimal.png" />
        <br />
        <br />
        <p>Now, to create a non-root user, click <strong>User Creation</strong>.</p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/24-Begin-installion-begun-user.png" />
        <br />
        <br />
        <p>Enter the non-root user’s details. Next, check the box to <strong>Make this user an administrator</strong> and click <strong>Done</strong>.<br /> Again, notice the warning message at the bottom of the screen. This is because I used a weak password.<br /> To bypass this warning, all we have to do is click <strong>Done</strong>, twice.
        </p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/26-Create-user-minimal.png" />
        <br />
        <br />
        <p>Since we are installing a minimal version of CentOS 7, the installation process will not take very long (15-20min)</p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/27-Begin-installion-in-process.png" />
        <br />
        <br />
        <p>Once the installation has completed, click <strong>Reboot</strong></p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/28-End-install-reboot.png" />
        <br />
        <br />
        <p>CentOS 7 is starting and we are seeing the kernel being used during the boot process.</p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/29-Post-reboot-minimal-1.png" />
        <br />
        <br />
        <p>Our CentOS 7 VM has rebooted successfully and we see the login screen.</p>
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/29-Post-reboot-minimal-2-part.png" />
        <br />
        <br />
        <p>At the login screen, enter the username, and password, of the non-root user you created during the installation.</p>
        <img style="width: 600px; height: 200px" src="/media/images/tutorials/infrastructure/minimal/29-Post-reboot-minimal-3-part.png" />
        <br />
        <br />
        <p>We have logged in successfully. Now, we will shutdown the virtual machine.<br /> 
        To do this, the non-root user (in my case, <strong>liam</strong>) must have <strong>sudo</strong> (“<strong>superuser do</strong>”) privileges. Since we set this non-root user<br /> to be an administrator, this non-root user has <strong>sudo</strong> privileges and can execute the following command:<br />
        <span style="font-family: consolas;font-weight: bold;">sudo shutdown -h now</span></p>
        <img style="width: 600px; height: 300px" src="/media/images/tutorials/infrastructure/minimal/29-Post-reboot-minimal-shutdown.png" />
        <br />
        <br />
        <p>We are prompted for the non-root user’s password to confirm that we want to execute this command.<br /> What we are doing is executing a command with the privileges of the <strong>root</strong> user.</p>
        <p>Again, this is the reason we set our non-root user to be an administrator, so that the user has <strong>sudo</strong> privileges<br /> and can execute commands normally only executable by the <strong>root</strong> user.</p>
        <p>To reiterate, the command, <strong>sudo</strong> (“<strong>superuser do</strong>”), is allowing your logged in user, who is a non-root user,<br /> to execute the command, <strong>shutdown</strong>, which can only be executed with the privileges of the <strong>root</strong> user.</p>
        <p>Finally, after executing the command, the VM (virtual machine) will shutdown and we can return to the VirtualBox Manager interface.</p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/30-Post-minimal-shutdown.png" />
        <br />
        <br />
        <p>We have successfully installed a minimal version of 
          <strong>CentOS 7 (release 8)</strong> in a <strong>VirtualBox 6.1.2</strong> virtual machine.</p>
        <br />
                  
      <h5 id="take_snapshot_1">Take Snapshot</h5>
        <p>To be on the safe side. After I have successfully completed a task, such as installing or updating a virtual machine, I like taking a snapshot to preserve the VM’s state. That way I ensure, in the future, if the VM stops responding, or behaving as it should, I can always revert back to that snapshot. For further information on 
          <strong>VirtualBox Snapshots</strong>, refer to the docs, <a style="text-decoration: underline;" href="https://www.virtualbox.org/manual/ch01.html#snapshots" target="_blank">here</a>.</p>
        <p>In the VirtualBox Manager interface, we are currently in <strong>Details</strong> view. To switch to <strong>Snapshots</strong> view, click the list icon next to the virtual machine name, and select <strong>Snapshots</strong>.
        </p>
        <img style="width: 650px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/31-Switch-To-Snapshots-View.png" />
        <br />
        <br />
        <p>To take a snapshot, on the VirtualBox Manager Interface, ensure your VM is selected and click <strong>Take</strong>
        </p>
        <img style="width: 650px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/32-Take-Snapshot-1.png" />
        <br />
        <br />  
        <table>
          <tr>
            <td>
              <p>Enter a name for the snapshot, as well as, a short description,<br /> then, click <strong>OK</strong></p>
              <p>I've taken a snapshot <strong>POST-CentOS7-MINIMAL-INSTALL</strong><br /> to ensure that I have a starting point to revert back to,<br /> if needed.</p>
            </td>
            <td style="padding-left: 50px;">
              <img style="width: 350px; height: 400px" src="/media/images/tutorials/infrastructure/minimal/32-Take-Snapshot-1-Done.png" />
            </td>
          </tr>
        </table>
        <br />
        <p>We have successfully taken a snapshot and ensure that we can always revert back to a working virtual machine with a minimal version of <strong>CentOS 7 (release 8)</strong> installed.</p>
        <img style="width: 650px; height: 350px" src="/media/images/tutorials/infrastructure/minimal/32-Take-Snapshot-1-Taken.png" />
    </div>
    <div>
     
      <p>Hopefully, you’ve enjoyed completing this tutorial and found it helpful.</p>
      <p>After completing this tutorial, if you decide that you would like, or need, a desktop environment, you should consider<br />  the <strong>MATE Desktop</strong>. It uses minimal system resources.</p>
      <p>I have another tutorial that demonstrates the installation of the <strong>MATE Desktop</strong> on a <strong>CentOS 7 minimal install VM</strong>.<br /> It can be accessed <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 6 'en' %}">here</a>.</p>
      <p>Or, you can access all of my tutorials <a style="text-decoration: underline;" href="{% url 'alltopics' %}">here</a>.</p>
      <p>Finally, if need be, you can download this tutorial <a style="text-decoration: underline;" href="{{ tutorial.file.url }}" download>{{ tutorial.text }}</a>.</p>
      
      
    </div>
  </div>

{% endblock content %}