{% extends "tutorials/base.html" %}
{% block page_header %}

    <div class="container">
      <!-- <h1 class="jumbotron-heading">PuTTY Passwordless SSH Connection</h1> -->
      <h2>PuTTY Passwordless SSH Connection</h2>
      <p class="lead text-muted">Infrastructure Tutorials</p>
      <p>Download <a style="text-decoration: underline;" href="{{ tutorial.file.url }}" download>{{ tutorial.text }}</a> tutorial.</p>
      <!-- <h1 class="jumbotron-heading">Infrastructure Tutorials</h1>
      <p class="lead text-muted">Putty Passwordless SSH Connection to CentOS 7 VM</p> -->
    </div>

{% endblock page_header %}
{% block content %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="container">
    
    <div style="width:55%; float:left;height:calc(100% - 20px);">
      <p>In this tutorial, I will demonstrate how to create a passwordless SSH connection from my Windows 7 host system to a CentOS 7 virtual machine.</p>
      <p>I will be using <strong>PuTTYgen</strong> to generate my SSH key pair and <strong>PuTTY</strong> to remotely connect to my CentOS 7 VM.</p>
      <p>Please note that I will be using a virtual machine that was created in my other tutorial, <strong>CentOS 7 Server Install</strong>, accessible <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 4 'en' %}" target="_blank">here</a>.</p>  
      
    </div>
    
    <div style="width:45%; float: left;padding-left: 60px;height:calc(100% - 20px);">
      <img style="width: 250px; height: 200px" src="/media/images/tutorials/infrastructure/password_less_connect/0-ssh_356px.png" />
      
      <br /><br />
    </div>
    <div style="clear: both;">
    </div>
    <div style="width:55%; float:left;height:calc(100% - 20px);">
      <h4>Prerequisites</h4>
        <ul>
            <li>VirtualBox VM with a CentOS 7 minimal install</li>
            <li>PuTTY & PuTTYgen (can be downloaded <a style="text-decoration: underline;" href="https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html" target="_blank">here</a>)</li>
            <ul>
              <li><strong>PuTTY</strong>: client for managing SSH sessions</li>
              <li><strong>PuTTYgen</strong>: tool for managing & creating SSH key pairs</li>
            </ul>
            <li>Active Internet Connection</li>
        </ul>
        <p>For instructions on how to install VirtualBox and extension pack, see my <strong>VirtualBox Install</strong> tutorial <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 3 'en' %}" target="_blank">here</a>.</p>
        <p>If you do not already have a virtual machine, with a minimal install of CentOS 7, my other tutorial, <strong>CentOS 7 Server Install</strong>, 
         can be accessed 
        <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 4 'en' %}" target="_blank">here</a>.</p>
    </div>
    <div style="width:45%; float: left;padding-left: 60px;height:calc(100% - 20px);">
      <br /><br />
      <img style="width: 250px; height: 200px" src="/media/images/tutorials/infrastructure/password_less_connect/0-PuTTY_icon_128px.png" />
    </div>

    <div style="clear: both;">
    </div>
    <div style="width:40%; float:left;height:calc(100% - 20px);">
      <h5>Steps to complete tutorial:</h5>
      <ol>
        <li><a href="#snapshot_1">Take Pre Passwordless SSH Snapshot</a></li>
        <li><a href="#download_tools">Download PuTTY & PuTTYgen</a></li>
        <li><a href="#gen_keypair">Generate SSH Keypair using PuTTYgen</a></li>
        <li><a href="#config_vm">Configure CentOS 7 VM</a></li>
          <ol type="i">
            <li><a href="#start_vm">Start CentOS 7 VM</a></li>
            <li><a href="#port_forward">Configure Port Forwarding</a></li>
            <li><a href="#putty_con_1">Connect to VM using PuTTY</a></li>
            <li><a href="#install_key">Install Public SSH Key on VM</a></li>
            <li><a href="#config_putty">Configure PuTTY Session</a></li>
          </ol>
         <li><a href="#putty_con_2">PuTTY Passwordless SSH Connection to VM</a></li>
         <li><a href="#snapshot_2">Take Post Passwordless SSH Snapshot</a></li>
      </ol>
    </div>
    <div style="width:60%; float: left; padding-left: 50px; height:calc(100% - 20px);">
      <br />
      <img style="float: left; width: 45%; height: 250px; padding: 10px;" src="/media/images/tutorials/infrastructure/virtualbox_install/0-VirtualBox-Image.png" /> 
      <img style="float: left; width: 45%; height: 250px; padding: 10px;" src="/media/images/tutorials/infrastructure/downloads/00-Centos7-Icon.png" />
    </div>
    <div style="clear: both;">
    </div>
    <div>
      <h5 id="snapshot_1">Take Pre Passwordless SSH Snapshot</h5>
        
        <p>The reason I want to take a snapshot, before we begin, is that we will be making a number of major changes to the virtual machine.</p>
        <p> After successfully completing a major change, I find it
        helpful to create (take) a snapshot to act as a fallback mechanism. If something goes wrong during a major change, we can revert back to a working snapshot (previous stable state).
        </p>
        <p>If you’ve completed my <strong>CentOS 7 Server Install tutorial</strong>, accessible <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 4 'en' %}" target="_blank">here</a>, then, you’ve already taken a snapshot (<strong>POST-CentOS7-MINIMAL-INSTALL</strong>) and can skip to the next step (<a style="text-decoration: underline;" href="#download_tools">Download PuTTY & PuTTYgen</a>).
        <p>If you already have a CentOS 7 minimal install VM. I suggest taking a snapshot before continuing with the tutorial,  to ensure that you have a starting point to revert back to.</p>
        <p>Please note that you can name the snapshot whatever you like, just remember which snapshot is associated with which state of the virtual machine.
        </p>
        <p>From the VirtualBox Manager interface, ensure your VM is selected and that you are in <strong>Snapshots</strong> view.</p>
        <p>If you are in <strong>Details</strong> view, switch to <strong>Snapshots</strong> view, by clicking the list icon next to the virtual machine name, and selecting <strong>Snapshots</strong>.</p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/password_less_connect/0-Take-Pre-SSH-Connect-Snapshot-0.png" />
        <br />
        <br />
        <p>The <strong>Snapshots</strong> view will show you a listing of the snapshots created for the virtual machine.</p>
        <p>To create a snapshot, click <strong>Take</strong></p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/password_less_connect/0-Take-Pre-SSH-Connect-Snapshot-1.png" />
        <br />
        <br />
        <table>
          <tr>
            <td>
              <p>Enter a name for the snapshot, as well as, a short description,<br /> then, click <strong>OK</strong></p>
              <p>I've taken a snapshot <strong>PRE-PASSWORDLESS-SSH</strong> to ensure<br /> that I have a starting point to revert back to, if needed.</p>
              <p>Before starting, and configuring, the VM, we will download the<br /> required tools, PuTTY & PuTTYgen, needed to complete this lab. 
                <ul>
                  <li><strong>PuTTYgen</strong>, to generate the SSH key pair.</li>
                  <li><strong>PuTTY</strong>, to make the passwordless SSH connection to our VM.</li>
                </ul>
              </p>
            </td>
            <td style="padding-left: 50px;">
              <img style="width: 330px; height: 370px" src="/media/images/tutorials/infrastructure/password_less_connect/0-Take-Pre-SSH-Connect-Snapshot-2-NEWER.png" />
            </td>
          </tr>
        </table>
        <br />
        <br />   
        <p>We have successfully created (taken) a snapshot and can now download the required tools.</p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/password_less_connect/0-Take-Pre-SSH-Connect-Snapshot-3-Done.png" />
        <br />
        <br />
        
      <h5 id="download_tools">Download PuTTY & PuTTYgen</h5>
        <p>For both the PuTTY & PuTTYgen tools, go to the following link <a style="text-decoration: underline;" href="https://www.chiark.greenend.org.uk/~sgtatham/putty/latest.html" target="_blank">Download latest</a>.</p>
        <img style="width: 800px; height: 250px" src="/media/images/tutorials/infrastructure/password_less_connect/1-Download-Tools-1.png" />
        <br />
        <br />
        <p>Scroll down to <strong>Alternative binary files</strong> and download the standalone binaries (portable versions – no installation required)<br /> for <strong>PuTTY & PuTTYgen</strong> that correspond to the bit version of your system (32-bit or 64-bit).<br />
        I will be downloading, and using, the 64-bit portable versions. If you are using a 32-bit system, please download, and use,<br /> the 32-bit portable version of <strong>PuTTY & PuTTYgen</strong>.
        </p>
        <img style="width: 800px; height: 250px" src="/media/images/tutorials/infrastructure/password_less_connect/1-Download-Tools-2.png" />
        <br />
        <img style="width: 800px; height: 100px; padding-left: 7px;" src="/media/images/tutorials/infrastructure/password_less_connect/1-Download-Tools-3.png" />
        <br />
        <br />
        <p>Once the tools are downloaded, we are ready to begin.</p>
      <h5 id="gen_keypair">Generate SSH Keypair using PuTTYgen</h5>
        <p>From your system’s download location, launch the PuTTY Key Generator by double-clicking <strong>puttygen.exe</strong>.</p>
        <img style="width: 700px; height: 250px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-1a.png" />
        <br />
        <br />
        <p> If you are prompted to accept a security warning to continue, click <strong>Run</strong></p>
        <img style="width: 600px; height: 300px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-1.png" />
        <br />
        <br />
        <p>Once the PuttyGen tool opens, ensure the following (see screenshot on <strong>bottom left</strong>):
          <ul>
            <li>Type of key to generate is set to: <strong>RSA</strong></li>
            <li>Number of bits in a generated key is set to:
             <strong>2048</strong></li>
          </ul>
        </p>
        
        <table>
          <tr>
            <td style="width: 45%;">
              <p>Click <strong>Generate</strong> to generate the key pair</p>
            </td>
            <td style="width: 45%; padding-left: 15px;">
              <p>After clicking <strong>Generate</strong>, move the mouse around the blank area randomly. This adds randomness to the key pair to make it harder to crack.</p>
            </td>
          </tr>
          <tr>
            <td>
              <img style="width: 430px; height: 500px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-3-Initiate-Key-Generation.png" />
            </td>
            <td style="padding-left: 15px;">
              <img style="width: 430px; height: 500px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-4-Random-Key-Generation.png" />
            </td>
          </tr>
        </table>
        <br />
        <p>The SSH key pair was successfully created.</p>
        <img style="width: 600px; height: 500px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-5-Key-Generated-NEW-default.png" />
        <br />
        <br />
        <p>After the key pair is generated, we will need to copy the <strong>Public key for pasting into the OpenSSH authorized_keys file</strong>.<br /> Select all of the text in the area marked below and copy it to your clipboard.</p>
        <img style="width: 600px; height: 350px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-6-Copy-Public-Key-NEW.png" />
        <br />
        <br />
        <p>Next, open <strong>Notepad</strong> and paste the contents of your clipboard into an empty file.</p>
        <img style="width: 800px; height: 150px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-7-Paste-Public-Key-NEW.png" />
        <br />
        <br />
        <p>Save the file for future use (I saved it to my 
        <strong>Downloads</strong> directory as 
        <strong>CentOS7-VM-public-key.txt</strong>).<br /> You will notice that there are no line breaks in the file. To view the full contents of the file, click
        <strong>Format -> Word Wrap</strong></p>
        <img style="width: 800px; height: 150px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-8-Paste-Public-Key-Word-Wrap-NEW.png" />
        <br />
        <img style="width: 800px; height: 200px;" src="/media/images/tutorials/infrastructure/password_less_connect/2-Start-PuttyGen-9-Paste-Public-Key-Word-Wrap-NEW.png" />
        <br />
        <br />
        <p>Now, return to the PuTTYgen tool and click <strong>Save private key</strong></p>
        <img style="width: 600px; height: 500px;" src="/media/images/tutorials/infrastructure/password_less_connect/3-Start-PuttyGen-1-Save-Private-Key-NEW.png" />
        <br />
        <br />
        <p>We will <strong>not</strong> be using a <strong>Passphrase</strong>, so click <strong>Yes</strong></p>
        <img style="width: 400px; height: 250px;" src="/media/images/tutorials/infrastructure/password_less_connect/3-Start-PuttyGen-2-Save-Private-Key.png" />
        <br />
        <br />
        <p>Save the file for future use (I saved it to my <strong>Downloads</strong> directory as <strong>CentOS7-VM-private-key.ppk</strong>).</p>
        <img style="width: 600px; height: 250px;" src="/media/images/tutorials/infrastructure/password_less_connect/3-Start-PuttyGen-3-Saved-Private-Key.png" />
        <br /><br />
        <p>Now that we have our SSH key pair, we can configure our VM to use the Public SSH key, of that key pair, to enable<br /> passwordless SSH connections.</p>
        
      <h5 id="config_vm">Configure CentOS 7 VM</h5>
        <p>Using VirtualBox's default network adapter type of <strong>NAT</strong> will assign the VM an IP address, subnet mask and default gateway,<br /> on a different network than our host machine, using VirtualBox’s DHCP Service. Port forwarding will allow us to map one IP<br /> address (on a different network), and port number, from the 
        <strong>host machine</strong> to the <strong>guest VM</strong>.</p>
        <p>First, we will need to start our VM and determine which IP address has been assigned. After we identify the IP address, we can<br /> proceed with configuring port forwarding to allow an SSH connection from the host machine to the guest VM. Please note that
        <br /> the initial SSH connection, from host to guest, will require a password. Then, after making the necessary changes, our second,<br /> and subsequent, SSH connections will <strong>not</strong> require a password.</p>
         
      <h5 id="start_vm">Start CentOS 7 VM</h5>
        <p>From the VirtualBox Manager interface, ensure your VM is selected and <strong>Start</strong></p>
        <img style="width: 650px; height: 350px;" src="/media/images/tutorials/infrastructure/password_less_connect/4-Get-IP-1.png" />
        <br />
        <br />
        <p>When the CentOS 7 VM has started, enter your user’s credentials to login.</p>
        <p> Then, to determine the IP address assigned to the VM, on the command line, execute the following:<br />
          <span style="font-family: consolas; font-weight: bold;">
          ip addr show</span></p>
        <img style="width: 650px; height: 400px;" src="/media/images/tutorials/infrastructure/password_less_connect/4-Get-IP-2-DONE.png" />
        <br />
        <br />
        <p>Now that we have the VM’s IP address, we can configure port forwarding.</p>
      <h5 id="port_forward">Configure Port Forwarding</h5>
        <p>Return to the VirtualBox Manager interface, ensure your running VM is selected and click <strong>Settings</strong></p>
        <img style="width: 650px; height: 350px;" src="/media/images/tutorials/infrastructure/password_less_connect/4-Settings-Port-Forwarding-0-NEW.png" />
        <br />
        <br />
        <p>On the left, ensure <strong>Network</strong> is selected. Under <strong>Network -> Adapter 1</strong>, click the <strong>Advanced</strong> drop down to display all<br /> of the network adapter settings. Then, click the <strong>Port Forwarding</strong> button.
        </p>
        <img style="width: 650px; height: 450px;" src="/media/images/tutorials/infrastructure/password_less_connect/4-Settings-Port-Forwarding-1.png" />
        <br />
        <br />
        <p>On the <strong>Port Forwarding Rules</strong> screen, to add a rule, click the green plus <span style="color: green; font-size: 24px; font-weight: bold;">+</span> button.</p>
        <img style="width: 650px; height: 350px;" src="/media/images/tutorials/infrastructure/password_less_connect/4-Settings-Port-Forwarding-2.png" />
        <br />
        <br />    
        
        <table>
          
          <tr>
            <td>
              <p>On the <strong>Port Forwarding Rules</strong> screen, enter the following:</p>
              <table>
                <tr>
                  <td align="right">Name:</td>
                  <td style="padding-left: 10px;"><strong>SSH</strong></td>
                </tr>
                <tr>
                  <td align="right">Protocol: </td>
                  <td style="padding-left: 10px;"><strong>TCP</strong></td>
                </tr>
                <tr>
                  <td align="right">Host IP: </td>
                  <td style="padding-left: 10px;"><strong>127.0.0.1</strong></td>
                </tr>
                <tr>
                  <td align="right">Host Port: </td>
                  <td style="padding-left: 10px;"><strong>2222</strong></td>
                </tr>
                <tr>
                  <td align="right">Guest IP: </td>
                  <td style="padding-left: 10px;"><strong>10.0.2.15</strong></td>
                </tr>
                <tr>
                  <td align="right">Guest Port: </td>
                  <td style="padding-left: 10px;"><strong>22</strong></td>
                </tr>
              </table>
              <br />                  
              <p>
                <em>Please note that your <strong>Guest IP</strong> could be different than mine.</em>
              </p>
              <p>
                To create the rule, click <strong>OK</strong>
              </p>
            </td>
            <td style="padding-left: 40px;">
              <img style="width: 450px; height: 400px" src="/media/images/tutorials/infrastructure/password_less_connect/4-Settings-Port-Forwarding-3-Add-Rule.png" />
            </td>
          </tr>
        </table>
        <br />
        <br />
        <p>We have successfully created our <strong>port forwarding</strong> rule. To continue, click <strong>OK</strong></p>
        <img style="width: 600px; height: 500px;" src="/media/images/tutorials/infrastructure/password_less_connect/4-Settings-Port-Forwarding-4-Rule-Added-Done.png" />
        <br />
        <br />
     
      <h5 id="putty_con_1">Connect to VM using PuTTY</h5>
        <p>Now we will test our SSH connection to our CentOS 7 VM using PuTTY.</p>
        <p>From your system’s download location, launch PuTTY by double-clicking <strong>putty.exe</strong>.</p>
        <img style="width: 650px; height: 300px" src="/media/images/tutorials/infrastructure/password_less_connect/5-Start-Putty-0.png" />  
        <br />
        <br />
        <p>If you are prompted to accept a security warning to continue, click <strong>Run</strong></p>
        <img style="width: 450px; height: 350px" src="/media/images/tutorials/infrastructure/password_less_connect/5-Start-Putty-1.png" />  
        <br />
        <br />
        <p>Once PuTTY opens, enter an IP address of <strong>127.0.0.1</strong>, Port <strong>2222</strong> and ensure the Connection type is <strong>SSH</strong>.<br /> 
        Then, to open the session, click <strong>Open</strong>
        </p>
        <img style="width: 600px; height: 450px" src="/media/images/tutorials/infrastructure/password_less_connect/6-Putty-Connect-1-Open.png" />  
        <br />
        <br />
        <!-- <p>Because this is your first SSH connection to the guest VM, you will be prompted to trust the server’s (VM’s) SSH key.<br /> To continue, click <strong>Yes</strong></p>  --> 
        <p>Because this is your first SSH connection to the guest VM, you will be prompted to trust the server’s (VM’s) host key. The server’s <strong>host key</strong> refers to the server’s <strong>public SSH key</strong>.</p>
        <p>To continue, click <strong>Yes</strong></p>           
        <img style="width: 650px; height: 450px" src="/media/images/tutorials/infrastructure/password_less_connect/6-Putty-Connect-2-Trust-Host.png" />  
        <br />
        <br />
        <p>After trusting the server (clicking <strong>Yes</strong>), you will not be prompted with this message again because the server’s host key will be stored in your host machine’s registry at the following location:</p>
        <p><span style="padding-left: 20px;font-family: consolas;">
        HKEY_CURRENT_USER\Software\SimonTatham\PuTTY\SshHostKeys
        </span></p>
        <img style="width: 650px; height: 200px" src="/media/images/tutorials/infrastructure/password_less_connect/6-Putty-Connect-2b-Registry-Entry.png" />  
        <br />
        <br />
        <p>After the session opens, enter your non-root user’s credentials to login. In my case, when I installed CentOS 7 in my<br /> virtual machine, I created a non-root user, that has <strong>sudo</strong> privileges (made administrator), with a username of <strong>liam</strong>.</p>  
        <img style="width: 650px; height: 150px" src="/media/images/tutorials/infrastructure/password_less_connect/6-Putty-Connect-3-Logged-In.png" />  
        <br />
        <br />

      <h5 id="install_key">Install Public SSH Key on VM</h5>
        <p>Now that we are logged in, we can install our <strong>Public SSH key</strong> on our <strong>CentOS 7 VM</strong>. To do this, we will need to create<br /> the required directory, as well as, create, and populate, the <strong>authorized_keys</strong> file with our <strong>Public SSH key</strong>. This is needed<br /> for passwordless authentication using SSH.</p>
        <p>From the command line, to create the directory and set it’s permissions, execute the following:<br />
        <span style="font-family: consolas; font-weight: bold;">
          mkdir .ssh<br />
          chmod 700 .ssh<br />
        </span></p>

        <img style="width: 650px; height: 250px" src="/media/images/tutorials/infrastructure/password_less_connect/7-Putty-SSH-1-Create-Directory-NEW.png" />  
        <br />
        <br />
        <!-- <p>The directory has been created and restrictive permissions have been set (<strong>only owner</strong> can read, write, execute).
        </p> -->
        <p>The directory has been created and restrictive permissions have been set (<strong>only owner</strong> has full access).</p>
        <p>Now open the file that contains the contents of the <strong>Public SSH key</strong> we created earlier.<br />
        (in my case, I saved it to my <strong>Downloads</strong> directory as <strong>CentOS7-VM-public-key.txt</strong>)</p>
        <img style="width: 650px; height: 250px" src="/media/images/tutorials/infrastructure/password_less_connect/7-Putty-SSH-2-Open-Public-Key.png" />  
        <br />
        <br />
        <p>Ensure all of the file’s contents is selected, then, right-click and click <strong>Copy</strong>. This will copy the file contents to your clipboard.</p>
        <img style="width: 650px; height: 300px" src="/media/images/tutorials/infrastructure/password_less_connect/7-Putty-SSH-3-Copy-Public-Key-NEW.png" />  
        <br />
        <br />
        <p>Return to your PuTTY session, and execute the following, (<strong>using the contents you just copied to your clipboard</strong>):<br />
        Please note, <strong>do not use</strong> my Public SSH key that is below (just wanted to provide you with an example) but,<br />      
        <strong>enter your Public SSH key</strong> between quotes:
        </p>
        <p><span style="color: red; font-family: consolas; font-weight: bold;"> echo "your_Public_SSH_key" >> .ssh/authorized_keys
          </span>
        </p>
        <p><span style="font-family: consolas; font-weight: bold;">
        echo "ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEA+HOc0cog61bxKPJLwQHhtj+gggql+OTFjHT37JEFkwe5<br />wR4ZhYchgfsjbc/mbYSFgy21kjLFQvBhUN2IW4eiacgYyXAgS4Q5gGsnmLrx+AKOZwYCQ1yotVNG6xqwKCRkjr<br />3S9hFIJC0I/SpTI923ny4d4ksTuE0jNTCCGDP766iCzuR/vWJqviS8BZCjK9OA2W3GnUfCA/6UHkbkCZVajEQ+<br />F1rkMbHmyCHc9QMgYbG+/9jG0S1gjhzX28rBLRisTIfnKQNLizQcaWjFSTCxjXjWWQjbvgkOpIRV8WfAmqhpCY<br />9+Uhxa6fy8HI5yUAz8oVzRRIFyLW5+EpQ== rsa-key-20201018" >> .ssh/authorized_keys</span>
        </p>
        <p>After creating the <strong>authorized_keys</strong> file, set restrictive permissions on the file by executing the following:<br />
        <span style="font-family: consolas; font-weight: bold;">
          chmod 600 .ssh/authorized_keys
        </span></p>
        <p>Finally, close your PuTTY session, by executing:<br />
          <span style="font-family: consolas; font-weight: bold;">
            exit
          </span></p>
        <img style="width: 700px; height: 400px" src="/media/images/tutorials/infrastructure/password_less_connect/7-Putty-SSH-4-Create-authorized_keys-NEWEST.png" />  
        <br />
        <br />  
        
      <h5 id="config_putty">Configure PuTTY Session</h5>
        <p>Now we need to configure a Putty session for passwordless authentication using SSH.<br />
        It involves these steps:
        <ul>
          <li><a href="#step1">Step 1: create a Putty session</a></li>
          <li><a href="#step2">Step 2: set default username for the Putty session</a></li>
          <li><a href="#step3">Step 3: attach the SSH private key to session</a></li>
          <li><a href="#step4">Step 4: save the session</a></li>
        </ul>
        </p>
        <p id="step1"><strong>Step 1</strong>: create a Putty session</p>
        <table>
          <tr>
            <!-- <td style="width: 30%; padding-top: 0px;"> -->
            <td valign="top" width="30%">
              <br /><br />
              <p>First, locate where you downloaded <strong>PuTTY</strong> and launch it by double-clicking <strong>putty.exe</strong>.
              <p>
              <p>To create a session, enter the following:<br /><br />
                Host Name (IP): <strong>127.0.0.1</strong><br />
                Port: <strong>2222</strong><br />
                Type: <strong>SSH</strong><br />
              </p>
              <!-- <p>Under <strong>Saved Sessions</strong>, enter a name you will remember.
                <br />I entered <strong>CentOS7-VM</strong>. 
                <br />Then, click <strong>Save</strong>
              </p> -->
              <p>Under <strong>Saved Sessions</strong>, enter a name you will remember.</p>
              <p>I entered <strong>CentOS7-VM</strong>.</p> 
              <p>Then, click <strong>Save</strong></p>
            </td>
            <td style="padding-left: 60px">
              <img style="width: 600px; height: 450px" src="/media/images/tutorials/infrastructure/password_less_connect/8-Putty-Session-1-Create.png" />
            </td>
          </tr>
        </table>
        <br />
        <p id="step2"><strong>Step 2</strong>: set default username for the Putty session
        </p>
        <table>
          <tr>
            <!-- <td style="width: 30%; padding-top: 0px;"> -->
            <td valign="top" width="33%">
              
              <p>Now, on the left hand side, under <br /><strong>Category: Connection</strong>, click the option <strong>Data</strong>.
              </p>
              
              <p>Under <strong>Login Details</strong>, set the <strong>Auto-login username</strong> to the <strong>same</strong> user used to complete the previous section ->  
              <a style="text-decoration: underline;" href="#install_key"><strong>Install Public SSH Key on VM</strong></a></p>
              
              <p>In my case, the user <strong>liam</strong>:</p>
                <ul>
                  <li>created the <strong>.ssh</strong> directory</li>
                  <li>populated <strong>authorized_keys</strong></li>
                  <li>set permissions on both</li>
                </ul>
              </p>
              <p>User <strong>liam</strong> is the <strong>owner</strong> of both the directory and the file. 
              </p>
                          
            </td>
            <td style="padding-left: 80px;">
              <img style="width: 500px; height: 400px" src="/media/images/tutorials/infrastructure/password_less_connect/8-Putty-Session-3-Default-Username.png" />
            </td>
          </tr>
        </table>

        <br />
        <p id="step3"><strong>Step 3</strong>: attach the SSH private key to session</p>
        <p>Navigate to <strong>Connection -> SSH -> Auth</strong> and click the <strong>Browse</strong> button to locate the private key saved earlier.</p>
        <img style="width: 650px; height: 450px" src="/media/images/tutorials/infrastructure/password_less_connect/8-Putty-Session-4-Set-Private-Key.png" />
        <br />
        <br />
        <p>Locate your private key and click <strong>Open</strong></p>
        <img style="width: 650px; height: 400px" src="/media/images/tutorials/infrastructure/password_less_connect/8-Putty-Session-5-Browse-to-Private-Key.png" />
        <br />
        <br />
        <p id="step4"><strong>Step 4</strong>: save the session</p>
        <p>After making the necessary session changes to allow for passwordless authentication, on the left, under <strong>Category:</strong>,<br /> click <strong>Session</strong>, then, click <strong>Save</strong></p>
        <img style="width: 650px; height: 450px" src="/media/images/tutorials/infrastructure/password_less_connect/8-Putty-Session-8-Save-NEWER.png" />
        <br />
        <br />
        
        <p>We are now ready to open a PuTTY session using our SSH key pair to authenticate (<strong>no password required</strong>).</p>
      <h5 id="putty_con_2">PuTTY Passwordless SSH Connection to VM</h5>
        <p>From <strong>PuTTY</strong>’s main window, ensure your newly created session is loaded and click <strong>Open</strong>.</p>
        <img style="width: 650px; height: 450px" src="/media/images/tutorials/infrastructure/password_less_connect/9-Putty-SSH-No-Password-1.png" />  
        <br />
        <br />
        <p>You should see <strong>Authenticating with public key</strong>
        <span style="color: red;font-weight: bold;font-family: consolas;"> 
        "your_Public_key_comment"</span>. Refer back to the<br /> <a style="text-decoration: underline;" href="#gen_keypair"><strong>Generate SSH Key Pair using Putty</strong></a> section for SSH key pair information (i.e. <strong>PuTTY Key Generator – Key Comment</strong> field).<br /> Also, please note that your SSH key pair information will be different than my SSH key pair information. </p>
        <img style="width: 650px; height: 200px" src="/media/images/tutorials/infrastructure/password_less_connect/9-Putty-SSH-No-Password-3-Logged-In-NEW.png" />  
        <br />
        <br />
        <p>We have used the <strong>PuTTY</strong> SSH client to successfully connect to our CentOS 7 VM without providing a password.</p>
        <p>To finish the tutorial, we will take a snapshot to save our changes for future use.</p>
        <p>To close the <strong>PuTTY</strong> session, execute the following command:<br /><span style="font-family: consolas; font-weight: bold;">
        exit</span></p>
        <img style="width: 600px; height: 250px" src="/media/images/tutorials/infrastructure/password_less_connect/9-Putty-SSH-No-Password-4-Exit-Session.png" />  
        <br />
        <br />
                
      <h5 id="snapshot_2">Take Post Passwordless SSH Snapshot</h5>
        <p>From the VirtualBox Manager interface, ensure your VM is selected and that you are in <strong>Snapshots</strong> view.</p>
        <p>To create a snapshot, click <strong>Take</strong></p>
        <img style="width: 650px; height: 350px" src="/media/images/tutorials/infrastructure/password_less_connect/10-Putty-SSH-Take-Snapshot-1.png" />
        <br />
        <br />
        <table>
          <tr>
            <td>
              <p>Enter a name for the snapshot, as well as, a short description,<br /> then, click <strong>OK</strong></p>
              
              <p>I've taken a snapshot <strong>POST-PASSWORDLESS-SSH</strong> to ensure<br /> that I have a virtual machine that is configured to be accessible<br /> by user <strong>liam</strong> via a <strong>PuTTY</strong> passwordless SSH connection.</p>
              <p>This will come in handy whenever I need to connect to this<br /> virtual machine.</p>            
            </td>
            <td style="padding-left: 50px;">
              <img style="width: 350px; height: 400px" src="/media/images/tutorials/infrastructure/password_less_connect/10-Putty-SSH-Take-Snapshot-2.png" />  
            </td>
          </tr>
        </table>
        <br />
        <br />
        <p></p>
        <img style="width: 650px; height: 350px" src="/media/images/tutorials/infrastructure/password_less_connect/10-Putty-SSH-Take-Snapshot-3.png" />  
        <br />
        <br /> 
    </div>
    <div>
      
      <p>Hopefully, you’ve enjoyed completing this tutorial and found it helpful.</p>
      <p>You can access all of my tutorials <a style="text-decoration: underline;" href="{% url 'alltopics' %}">here</a>.</p>
        <p>Or, if need be, you can download this tutorial <a style="text-decoration: underline;" href="{{ tutorial.file.url }}" download>{{ tutorial.text }}</a>.</p>
      
    </div>  

  </div>

{% endblock content %}