{% extends "tutorials/base.html" %}
{% block page_header %}

    <div class="container">
      <div style="width:55%; float:left;height:calc(100% - 20px);">
        <!-- <h1 class="jumbotron-heading">Create a Bootable USB</h1> -->
        <h2>Create a Bootable USB</h2>
        <p class="lead text-muted">Infrastructure Tutorials</p>
      </div>
      <div style="width:45%; float: left;padding-left: 40px; padding-top: 20px;height:calc(100% - 20px);">
        <p>Download <a style="text-decoration: underline;" href="{{ tutorial.file.url }}" download>{{ tutorial.text }}</a> tutorial.</p>
      </div>
    </div>

{% endblock page_header %}
{% block content %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="container">
    
    <div style="width:55%; float:left;height:calc(100% - 20px);">
      <p>For this tutorial, I am using a Windows 7 Professional Service Pack 1 host machine. I will be using the <a style="text-decoration: underline;" href="https://www.balena.io/etcher/" target="_blank">Etcher</a> utility to create a bootable USB for CentOS 7. The bootable USB can be used to install the CentOS 7 operating system on a physical PC or in a VirtualBox VM (virtual machine).</p>
      
      <p>After you've completed this tutorial, you can access one of my other tutorials where I demonstrate the installation of CentOS 7 using a bootable USB in a VirtualBox VM. It can be accessed <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 5 'en' %}">here</a>.</p>
    </div>
    
    <div style="width:45%; float: left;padding-left: 40px;height:calc(100% - 20px);">
      <img style="width: 350px; height: 250px" src="/media/images/tutorials/infrastructure/create_bootable_usb/0-Etcher-Site.png" />
    </div>
    <br />
    <div style="clear: both;">
      <h4>Prerequisites</h4>
        <ul>
            <li>Active Internet Connection</li>
        </ul>
      <h4>Steps to complete tutorial:</h4>
      <ol>
        <li><a href="#download_etcher">Download Etcher</a></li>
        <li><a href="#install_etcher">Install Etcher</a></li>
        <li><a href="#download_centos7">Download CentOS 7</a></li>
        <li><a href="#create_usb">Create a bootable USB</a></li>
      </ol>
    </div>
    <div>
      <h5 id="download_etcher">Download Etcher</h5>
        <p>Go to the Etcher site at <a style="text-decoration: underline;" href="https://www.balena.io/etcher/" target="_blank">https://www.balena.io/etcher/</a> and download the application.</p>
        <img style="width: 800px; height: 600px" src="/media/images/tutorials/infrastructure/create_bootable_usb/1-Etcher-Site-Download.png" />
        <br />
        <br />
      <h5 id="install_etcher">Install Etcher</h5>
        <p>Once downloaded, double-click on the executable to begin installation.</p>
        <img style="width: 600px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/2-Etcher-Downloaded.png" />
        <br />
        <br />
        <p>Accept the security warning and click <strong>Run</strong>.</p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/3-Etcher-Accept-Security-Warning.png" />
        <br />
        <br />
        <p>Accept the license agreement and click <strong>I Agree</strong>.</p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/create_bootable_usb/4-Etcher-Accept-License-Agreement.png" />
        <br />
        <br />
        <p>Etcher is installed and ready to be used.</p>
        <img style="width: 600px; height: 400px" src="/media/images/tutorials/infrastructure/create_bootable_usb/5-Etcher-Installed.png" />
        <br />
        <br />
      <h5 id="download_centos7">Download CentOS 7</h5>
        <p>Go to the CentOS site at <a style="text-decoration: underline;" href="https://wiki.centos.org/Download" target="_blank">https://wiki.centos.org/Download</a>, and click the <strong>mirrors</strong> link for CentOS 7 (release 8) to display a list of mirrors closest to your region.</p>
        <img style="width: 700px; height: 450px" src="/media/images/tutorials/infrastructure/downloads/00-Centos-Download.png" />
        <br />
        <br />
        <p>Select one of the available mirrors closest to you. I usually select the first one in the list.</p>
        <img style="width: 700px; height: 300px" src="/media/images/tutorials/infrastructure/downloads/01-Centos-Download-7-mirrors.png" />
        <br />
        <br />
        <p>Once you are on the selected mirror site, select the <strong>CentOS 7 minimal ISO</strong> to download.<br />
        <em>Note, if you select the torrent download, you will need to have BitTorrent, or another, peer-to-peer file sharing application<br /> to download the file. In both instances (direct download OR peer-to-peer), an ISO image is downloaded.</em></p>
        <img style="width: 700px; height: 300px" src="/media/images/tutorials/infrastructure/downloads/02-Centos-Download-7-mirror-images.png" />
        <br />
        <br />
        <p>Once you click the link, the <strong>CentOS 7 minimal ISO image</strong> will be downloaded to your local Downloads directory. I have moved my downloads to a location where they can be easily accessible. Note, I have downloaded three versions: DVD, Minimal and NetInstall. Their sizes differ because they contain different contents. Below, I’ve listed the main differences:
          <ul>
            <li><strong>DVD</strong> – full install including GUI desktop environment</li>
            <li><strong>Minimal</strong> – usually for server installations that require manual configurations</li>
            <li><strong>NetInstall</strong> – boot DVD for installing from a network server</li>
          </ul>
        <p>Note, to avoid wasting local disk space, I did not download the <strong>Everything</strong> ISO image. As it’s name states, it contains the complete set of packages for CentOS 7.</p>
        <img style="width: 700px; height: 250px" src="/media/images/tutorials/infrastructure/downloads/02-Centos-Download-7-downloaded-images.png" />
        <br />
        <br />
      <h5 id="create_usb">Create a bootable USB</h5>
        <p>Now that we have Etcher installed and a CentOS 7 ISO disk image downloaded, let’s perform a test to confirm that Etcher is working properly. We’ll create a bootable USB using our CentOS 7 ISO.<br />     
        <p>First, in Etcher's main window, click the <strong>Flash from file</strong> button and navigate to the ISO you wish to create a bootable USB from.</p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/6-Etcher-Flash-from-File.png" />
        <br />
        <br />
        <p>Once you've selected your ISO image, click <strong>Open</strong></p>
        
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/7-Etcher-Flash-from-File-Image.png" />
        
        <br />
        <br />
        <p>Next, insert your empty USB into an open port and click the <strong>Select target</strong> button to choose the location you wish<br /> to save the flashed image.</p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/8-Etcher-Select-Target.png" />
        <br />
        <br />
        <p>Ensure the correct destination target is selected (your empty USB), and click the <strong>Select (1)</strong> button.</p>
        <img style="width: 500px; height: 350px" src="/media/images/tutorials/infrastructure/create_bootable_usb/9-Etcher-Select-Target-Location.png" />
        <br />
        <br />
        <p>Click the <strong>Flash!</strong> button to create the bootable USB stick.</p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/10-Etcher-Flash-Image.png" />
        <br />
        <br />
        <p>Etcher is in the process of creating your bootable USB.</p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/11-Etcher-Flash-Image-In-Progress.png" />
        <br />
        <br />
        <p>Once the operation has completed, you can use your bootable USB to install the CentOS 7 operating system<br /> on a physical PC or in a VirtualBox VM (virtual machine).</p>
        <img style="width: 500px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/12-Etcher-Flash-Image-Complete.png" />
        <br />
        <br />
        <p>Here is a listing of the contents of my newly created bootable USB for CentOS 7.</p>
        <img style="width: 600px; height: 300px" src="/media/images/tutorials/infrastructure/create_bootable_usb/13-BOOTABLE-USB-CONTENTS.png" />
        <br />
        <br />
    </div>
    <div>
      <p>Please note that the procedure to create a bootable USB, using Etcher, is very straight forward.</p>
      <p>Hopefully, you’ve enjoyed completing this tutorial and would like to use your newly created CentOS 7 bootable USB to install the operating system.</p>
      <p>In one of my other tutorials, I demonstrate the creation of a VirtualBox VM (virtual machine) and the installation of CentOS 7 using a bootable USB. It can be accessed <a style="text-decoration: underline;" href="{% url 'topic_tutorial' topic.id 5 'en' %}">here</a>.</p> 
            
      <p>I have a number of other <a style="text-decoration: underline;" href="{% url 'tutorials' topic_id=topic.id %}">Infrastructure tutorials</a>
      </p>
      <p>Or, you can access all of my tutorials <a style="text-decoration: underline;" href="{% url 'alltopics' %}">here</a>.</p>
      <p>Finally, if need be, you can download this tutorial <a style="text-decoration: underline;" href="{{ tutorial.file.url }}" download>{{ tutorial.text }}</a>.</p>
    </div>  

  </div>

{% endblock content %}