{% extends "jobs/base.html" %}
{% block page_header %}

    <div class="container">
      <h1 class="jumbotron-heading">Various Tutorials</h1>
      <p class="lead text-muted">Learning something new every day.</p>
    </div>

{% endblock page_header %}
{% block content %}
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        {% for tut in tutorials %}
        <!-- <div class="col-md-4"> -->
        <div class="col-md-4 py-2">
          <!-- <div class="card mb-4 shadow-sm"> -->
          <div class="card h-100">
            
            <img class="card-img-top" style="width: 300px; height: 200px" src="{{ tut.image.url }}" />

            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'topic_tutorial' tut.topic.id tut.id tut.lang %}">{{ tut.text }}</a></h5>
              <p class="card-text">{{ tut.summary }}</p>
              <!--<p class="card-text">{{ job.summary|truncatewords:10 }}</p>-->
            </div>

          </div>
        </div>
        {% empty %}
          <h5>No tutorials have been added yet.</h5>
        {% endfor %}
      </div>
    </div>
  </div>  
  <div class="container">
    <a href="#test1">Test 1</a>
    <br>
    <a href="#test2">Test 2</a>
    <br>
    <a href="#test3">Test 3</a>
    <br>
    <a href="#test4">Test 4</a>
    <br>
  </div>
  <div class="container">
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <h3 id="test1">Test 1</h3>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <h3 id="test2">Test 2</h3>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <h3 id="test3">Test 3</h3>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <h3 id="test4">Test 4</h3>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    
  </div>

{% endblock content %}
