{% extends "jobs/base.html" %}
{% block page_header %}

    <div class="container">
      <h1 class="jumbotron-heading">Miscellaneous Tutorials</h1>
      <p class="lead text-muted">Miscellaneous 2 FR</p>
    </div>

{% endblock page_header %}
{% block content %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="container">
    <h3>Miscellaneous 2 FR</h3>
  </div>

{% endblock content %}