{% extends "jobs/base.html" %}
{% block page_header %}

    <div class="container">
      <h1 class="jumbotron-heading">Miscellaneous Tutorials</h1>
      <p class="lead text-muted">Learning something new every day.</p>
    </div>

{% endblock page_header %}
{% block content %}
  <div class="container">
    <a href="#test1">Test 1</a>
    <br>
    <a href="#test2">Test 2</a>
    <br>
    <a href="#test3">Test 3</a>
    <br>
    <a href="#test4">Test 4</a>
    <br>
  </div>
  <div class="container">
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <h3 id="test1">Test 1</h3>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <h3 id="test2">Test 2</h3>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <h3 id="test3">Test 3</h3>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    <h3 id="test4">Test 4</h3>
    <p>Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. Just some text. 
    </p>
    
  </div>

{% endblock content %}
