{% extends "base.html" %}
{% block page_header %}
  <h1 class="text-center pt-3">{{ blog.title }}</h1>
{% endblock page_header %}

  {% block content %}

  <div class="container">
      <h1 class="text-center pt-3">{{ blog.title }}</h1>
      <p class="text-center">{{ blog.pub_date }}</p>
      <img src="{{ blog.image.url }}" />
      <!-- <img class="img-fluid" src="{{ blog.image.url }}" height=200 width=600 /> -->
      <br />
      <br />
      <p>{{ blog.body }}</p>
  </div>

{% endblock content %}
