{% load bootstrap4 %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
  <title>Liam Sirkett</title>

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border sticky-top">

    <a class="navbar-brand" href="{% url 'home' %}">Liam Sirkett</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'alltopics' %}">Tutorials</a>
          <a class="nav-item nav-link" href="{% url 'dev' %}">Development</a>
          <a class="nav-item nav-link" href="https://github.com/earlpearl17?tab=repositories" target="_blank">GitHub</a>
          <!--<a class="nav-item nav-link" href="{% static 'resume.pdf' %}" target="_blank">Resume</a>
          <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>-->

        </div>
      </div>
  </nav>
	<main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      
      {% block page_header %}{% endblock page_header %}
      
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>
</body>
<footer class="text-muted">
  <div class="container text-center">
    <p class="float-right">
          <a href="#">Back to top</a>
    </p>
    <p>© Liam Sirkett {% now "Y" %}</p>
    
  </div>
</footer>

</html>
